<div class="box-colors d-flex" style="height: 100vh; width: 99vw;">
  <div class="first-color" style="background-color: #DB5461; width: 25vw;">
    <h1 style="text-align: right; margin-top: 25vh; color: #414141;">Mr</h1>
    <%= image_tag asset_path("cocktail.svg"), alt: "alttext", style: "position: absolute;
              color: white;
              height: 40vh;
              bottom: 9px;
              left: 20px;
            }"
    %>
  </div>

  <div class="second-color" style="background-image: url('https://images.pexels.com/photos/1838583/pexels-photo-1838583.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); background-size: cover;width: 74vw;">
    <h1 style="margin-top: 25vh; color: white; text-shadow: 1px 1px 15px rgba(0,0,0,0.1);">Cocktail</h1>
    <p>Find your perfect cocktail ...</p>
  </div>
</div>

<div class="container" style="">
  <h1 style="font-size: 64px; margin: 24px 16px;">Find your cocktail</h1>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <%= link_to cocktail_path(cocktail) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cocktail.photo %>);">
            <%= cocktail.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
